
.whole {
  background-color: yellow;
  background-image: url("/assets/1.jpg");
  background-size: cover;
  background-position: center center;
  height: 100%;
}
   
  .example-margin {
    margin: 0 10px;
    background-color: blue;
    background-size: 10px;
  }


  .card{
    position: absolute;
    top: 15%;
    height: fit-content;
    justify-content: center;
    background-color:lightgoldenrodyellow;
  }

 .btn{
  display: flex;
    justify-content: center;
    margin-top:"20px";
    text-align: center;
    background-color:lightgreen; 
  }
 .btnn{
  display: flex;
    justify-content: center;
    margin-top:"20px";
    text-align: center;
    background-color:lightgreen; 
  }
  
  .doc{
    margin-top:"20px";
    margin: 20px;
    background-color:lightblue; 
  } 
